&uart1 {
	status = "okay";
	current-speed = <115200>;
	tx-pin = <13>;
	rx-pin = <25>;
};

&led0 {
	gpios = <&gpio0 4 GPIO_INT_ACTIVE_HIGH>;
	label = "Green LED 0";
};

&i2c2 {
	status = "okay";
	compatible = "nordic,nrf-twim";
	sda-pin = < 11 >;
	scl-pin = < 12 >;
    clock-frequency = <I2C_BITRATE_FAST>;
};
